<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>confirmation Page</title>
    <link rel="stylesheet" href="/css/emailConfirmed.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Bree+Serif&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container"></div>
        <div class="content">
            <div class="head"> Email Confirmed!</div>
            <br />
            <p>Congratulations! Your email has been confirmed and your account is ready. Please close this page and go
                back
                and login.</p>
            <div class="subhead">
                <br />
                <br />
                <div class="subcont">
                    Welcome to the BandBajaBarat!
                </div>

            </div>
        </div> 
</body>

</html>